.encabezado{
    background: #108556;
    padding: 0.75rem 0;
}

.encabezado-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.25rem;
    margin-bottom: 0.97rem;
}

.encabezado-aluraLogo{
    width: 6vw;
    padding-left: 2rem;
}

.encabezado-titulo{
    font-family: 'Basic', sans-serif;
    font-size: 1.8rem;
    color: #effef7;
}

.encabezado-oneLogo{
    width: 7.5vw;
    padding-right: 2.5rem;
}

.main{
    background: #b8fade;
    padding: 5.5rem 2rem;
}

.areaEncriptacion{
    display: flex;
    justify-content: space-around;
    height: 90%
}

.areaEncriptacion-entrada{
    display: flex;
    flex-direction: column;
}

.areaTextoIngresado{
    background-color: #effef7;
    width: 48vw;
    opacity: 0.7;
    margin-top: 2.8rem;
    padding: 1rem 1rem;
    border: none;
    border-radius: 12px;
    font-family: 'Basic', sans-serif;
    font-size: 1.6rem;
    color:#11563b;
}

::placeholder{
    color:#126947;
}

.areaAdvertencia{
    display: flex;
    align-items: center;
}

.areaAdvertencia__simbolo{
    width: 1.2rem;
    margin-top: 0.3rem;
}

.areaAdvertencia__texto{
    font-family: 'Basic', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    color:#033020;
    margin-top: 0.3rem;
}

.areaEncriptacion-entrada__botonesContainer{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    height: 4rem;
}

.boton{
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: antiquewhite;
    padding: 0.7rem 2.5rem;
    border-radius: 15px;
    font-size: 1rem;
    transition: all 5ms;
}

.boton:hover{
    transform: scale(1.1);
}

.areaEncriptacion-entrada__boton--encriptar{
    padding: 0 3.5rem;
    margin-right: 2rem;
    background-color: #0faa6b;
    border: 1px solid #1acd84;
    font-size: 1.3rem;
}

.areaEncriptacion-entrada__boton--encriptar:hover{
    background-color: #0faa6b;
    border-color: #1acd84;
}

.areaEncriptacion-entrada__boton--desencriptar{
    background-color: #126947;
    border: 1px solid #108556;
    font-size: 1.3rem;
}

.areaEncriptacion-entrada__boton--desencriptar:hover{
    background-color: #126947;
    border-color: #108556;
}

.areaEncriptacion-salida{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #1acd84;
    border-radius: 12px; 
    width: 24vw;
}

.areaEncriptacion-salida__gif{
    width: 25vw;
    margin: 0 3rem 4rem 0;
}

.areaEncriptacion-salida__mensaje{
    width: 20vw;
    margin-bottom: 2rem;
    font-family: 'Basic', sans-serif;
    text-align: center;
    color:#033020;
}

.areaEncriptacion-salida__mensaje1{
    margin-bottom: 1rem;
    font-weight: bold;
}

.areaEncriptacion-salida__mensaje2{
    font-size: 1rem;
}

.areaEncriptacion-salida__textoMostrado{
    display: none;
    font-family: 'Basic', sans-serif;
    font-size: 1.6rem;
    color:#033020;
    background-color: #effef7;
    width: 18vw;
    height: 28rem;
    opacity: 0.8;
    margin: 1rem 0 0.5rem 0;    
    padding: 1rem 1.5rem 1.8rem 1.5rem;

    border: none;
    border-radius: 12px;
    box-shadow: 0.5px 0.5px 8px;
}

.areaEncriptacion-salida__copia {
    display: none;
    text-align: center;
}

.areaEncriptacion-salida__botonCopiar {
    background-color: #033020;
    border: 1px solid #11563b;
    padding: 0.7rem 3.2rem;
    transition: all 5ms;
    margin-top: 0.2rem;
    font-size: 1.25rem;
}

.areaEncriptacion-salida__botonCopiar:hover{
    background-color: #033020;
    border-color: #11563b;
}

.piePagina{
    background: #108556;
    padding: 1rem 0;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-evenly;
}

.descripcion{
    font-family: 'Basic', sans-serif;
    color: #b8fade;
    text-align: center;
    font-size: 1.4rem;
}

.piePagina__contacto{
    display: flex;
    text-align: center;
}

.piePagina__logoGithub{
    width: 3rem;
    margin-right: 1.3vw;
    margin-top: 0.3rem;
}

.piePagina__logoLinkedin{
    width: 3.7rem;
    margin: 0.1vw 0.8vw 0 0;
}

.piePagina__logoAlura{
    width: 4.3rem;
    margin-left: 0.8vw;
    margin-top: 0.4rem;
}

.link:hover{
    transform: scale(1.23);
}





@media screen and (max-width: 375px){
    .encabezado{
        padding: 0;
    }
    .encabezado-container{
        flex-flow: wrap;
        justify-content: center;
        padding: 0.5rem 0;
    }
    .encabezado-aluraLogo{
        width: 17%;
        padding-right: 50%;
        padding-left: 0;
    }
    .encabezado-titulo{
        text-align: center;
        font-size: 1.8rem;
        padding: 0.7rem 1.2rem 0.5rem 1.2rem;
        order:3;
    }
    .encabezado-oneLogo{
        width: 22%;
        padding-right: 0;
        order: 2;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
    .encabezado{
        padding: 2.5rem 0;
    }

    .encabezado-aluraLogo{
        width: 13%;
        padding-left: 1.5rem;
    }

    .encabezado-titulo{
        padding: 0 0.8rem 0 0.5rem;
        width: 50%;
        text-align: center;      
        font-size: 6vw;
    }

    .encabezado-oneLogo{
        width: 16%;
        padding-right: 1.5rem;
    }
}

@media screen and (max-width: 375px){
    .main{
        padding: 0.8rem;
    }

    .areaEncriptacion{
        flex-direction: column;
        padding: 0;
    }    
}

@media screen and (min-width: 376px) and (max-width: 768px){
    .main{
        padding: 0;
    }

    .areaEncriptacion{
        flex-direction: column;
        padding: 0;
    }
}

@media screen and (max-width: 375px){
    .areaTextoIngresado{
        margin: 0.5rem 0 0 0;
        padding: 1.8rem 1.5rem;
        width: auto;
        height: 15rem;
        font-size: 5vw;
    }

    .areaAdvertencia{
        margin-bottom: 0.2rem;
    }

    .areaEncriptacion-entrada__botonesContainer{
        flex-direction: column;
        padding-bottom: 1rem;
    }
    
    .boton{
        padding: 1rem 1rem;
        font-size: 0.9rem;
    }

    .areaEncriptacion-entrada__boton--encriptar{
        margin-bottom: 1.5rem;
        margin-right: 0rem;
        margin-top: 1rem;
    }

    .areaEncriptacion-entrada__boton--desencriptar{
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px){
    .areaTextoIngresado{
        margin: 1.5rem 1.2rem 0.1rem 1.2rem;
        padding: 1.8rem 1.5rem;
        width: auto;
        height: 26.5rem;
        font-size: 4.5vw;
    }

    .areaAdvertencia{
        margin: 0.5rem 1rem 1.5rem 1.7rem;
    }

    .areaEncriptacion-entrada__botonesContainer{
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .areaAdvertencia__texto{
        font-size: 1rem;
    }

    .boton{
        font-size: 3vw;
        padding-right: 10%;
        padding-left: 8%;
    }

}

@media screen and (max-width: 375px){
    .areaEncriptacion-salida{
        width: auto;
        padding: 0.8rem 0;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    .areaEncriptacion-salida__gif{
        margin: 0 3% 0 1%;
        width: 30%;
    }

    .areaEncriptacion-salida__mensaje{
        width: 62%;
    }

    .areaEncriptacion-salida__mensaje1{
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .areaEncriptacion-salida__mensaje2{
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .areaEncriptacion-salida__textoMostrado{
        width: 81%;
        margin: 0 0.5rem 0.3rem 0.5rem;
        height: 16rem;
        font-size: 1.3rem;
    }

    .areaEncriptacion-salida__copia {
        padding-top: 0.6rem;
        margin: auto;
    }
    
    .areaEncriptacion-salida__botonCopiar {
        padding: 1rem 3rem;
        margin-bottom: 0.3rem;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px){
    .areaEncriptacion-salida{
        flex-direction: row;
        width: auto;
        flex-wrap: wrap;
        margin: 1.7rem 1.2rem 1.7rem 1.2rem;
    }

    .areaEncriptacion-salida__gif{
        margin: 0 0 1rem 1rem;
        width: 25%;
    }

    .areaEncriptacion-salida__mensaje{
        width: 60%;
        margin: 1rem;
    }

    .areaEncriptacion-salida__mensaje1{
        font-size: 1.5rem;
    }

    .areaEncriptacion-salida__mensaje2{
        font-size: 1rem;
    }

    .areaEncriptacion-salida__textoMostrado{
        width: 90%;
        height: 13rem;
        padding: 1.8rem 1.5rem;
        font-size: 4.5vw;
    }

    .areaEncriptacion-salida__copia {
        margin: auto;
        text-align: center;
    }
    
    .areaEncriptacion-salida__botonCopiar {
        background-color: #033020;
        border: 1px solid #11563b;
        padding: 0.7rem 3.2rem;
        transition: all 5ms;
        max-width: 220px; /* Ajusta el ancho máximo del botón */
        margin-bottom: 0.7rem;
        margin-top: 0.3rem;
    }
}

@media screen and (max-width: 375px){
    .piePagina{
        flex-direction: column;
        vertical-align: center;
        align-items: normal;
    }

    .piePagina__copy{
        padding-bottom: 1.5rem;
    }

    .piePagina__nombre{
        padding-top: 1.5rem;
        padding-bottom: 1.3rem;
    }

    .piePagina__contacto{
        padding: 0 2.5rem 1rem 2.5rem;
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px){
    .piePagina{
        flex-wrap: wrap;
        padding: 1.5rem 1rem;
        align-items: normal;
        vertical-align: center;
    }

    .descripcion{
        font-size: 1.2rem;
        width: 45%;
    }

    .piePagina__contacto{
        margin-top: 1.5rem;
        display: flex;
    }

    .piePagina__logoGithub{
        width: 3.2rem;
        margin-right: 11vw;
        margin-top: 0.2rem;
    }
    
    .piePagina__logoLinkedin{
        width: 3.9rem;
        margin-right: 10vw;
    }
    
    .piePagina__logoAlura{
        width: 4rem;
    }
}
